body {
    color: rgb(196, 6, 139);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Stick", sans-serif;
}

header {
    border-bottom: solid 2px rgb(36, 132, 187);
    padding: 20px;
    font-size: 32px;
    color: rgb(248, 248, 248);
}

section {
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}


h1 {
    font-size: 40px;
}

p {
    font-size: 40px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
